<div class="titutlo">
    <div style="margin-top: 60px;">
      
        <h5 class="card-title" style="margin-bottom: 0px;">Registrar insumo</h5>
    </div>
    </div>
<div class= "container mt-5 " >
    <form [formGroup]="formularioInsumos">
        <div class="row "    >
            <div class="col-sm-4">
                    <label for="nombre">Nombre</label>
                    <div class = "form-group ">
                        <input type="text" class="form-control" formControlName="nombre" placeholder="Agrega el nombre" [ngClass]="{'is-invalid': !formularioInsumos.controls['nombre'].valid && formularioInsumos.controls['nombre'].touched, 'is-valid': formularioInsumos.controls['nombre'].valid}">
                    <div  *ngIf="formularioInsumos.controls['nombre'].invalid && formularioInsumos.controls['nombre'].dirty" class="alert alert-danger" role="alert">
                        <span  *ngIf="formularioInsumos.controls['nombre'].errors.required" >El nombre es requerido</span> 
                        
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                    <label for="descripcion">Descripci&oacute;n</label>
                    <div class = "form-group ">
                    <input type="text" class="form-control" formControlName="descripcion" placeholder="Agrega el descripción" [ngClass]="{'is-invalid': !formularioInsumos.controls['descripcion'].valid && formularioInsumos.controls['descripcion'].touched, 'is-valid': formularioInsumos.controls['descripcion'].valid}">
                    <div  *ngIf="formularioInsumos.controls['descripcion'].invalid && formularioInsumos.controls['descripcion'].dirty" class="alert alert-danger" role="alert">
                        <span  *ngIf="formularioInsumos.controls['descripcion'].errors.required" >La descripci&oacute;n es requerido</span> 
                        
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <label for="precio">Precio</label>
                <div class = "form-group ">
                <input type="number" class="form-control" onkeypress='return event.charCode >= 48 && event.charCode <= 57' formControlName="precio" placeholder="Agrega el precio" [ngClass]="{'is-invalid': !formularioInsumos.controls['precio'].valid && formularioInsumos.controls['precio'].touched, 'is-valid': formularioInsumos.controls['precio'].valid}">
                <div  *ngIf="formularioInsumos.controls['precio'].invalid && formularioInsumos.controls['precio'].dirty" class="alert alert-danger" role="alert">
                    <span  *ngIf="formularioInsumos.controls['precio'].errors.required" >El precio es requerido</span> 
                    
                </div>
            </div>
        </div>
      
            <div class="form-group col-sm-4">
                <label for="tipo">Tipo</label>
               
                <select formControlName="tipo" class="col-sm-12 form-control" [ngClass]="{'is-invalid': !formularioInsumos.controls['tipo'].valid && formularioInsumos.controls['tipo'].touched, 'is-valid': formularioInsumos.controls['tipo'].valid}">
                        <option value="Cocina">Cocina</option>
                        <option value="Papelería/Oficina">Papeler&iacute;a/Oficina</option>
                        <option value="Higiene/Aseo/Limpieza">Higiene/Aseo/Limpieza</option>
                        <option value="Prevención">Prevenci&oacute;n</option>
                    </select>

                    <div class="invalid-feedback" *ngIf="formularioInsumos.controls['tipo'].errors?.required && formularioInsumos.controls['tipo'].dirty" class="alert alert-danger" role="alert">
                        Campo requerido.
                    </div>
            </div>
            <div class="col-sm-4">
                    <label for="fechacompra">Fecha de compra</label>
                    <div class = "form-group ">
                    <input type="date" class="form-control" formControlName="fechacompra" placeholder="Agrega la fechacompra" [ngClass]="{'is-invalid': !formularioInsumos.controls['fechacompra'].valid && formularioInsumos.controls['fechacompra'].touched, 'is-valid': formularioInsumos.controls['fechacompra'].valid}">
                </div>
            </div>
            <div class="col-sm-4">

        </div>

            <div class ="col-sm-4">
                <div>
                    <button class="btn btn-primary" [disabled]="formularioInsumos.invalid" (click)=agregar()>Agregar</button>
                </div>
            </div>
        
        </div>
        <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-beat" [fullScreen] = "true"><p style="color: white" > Registrando... </p></ngx-spinner>
    </form>
</div>
