
<div class="titutlo">
  <div style="margin-top: 60px;">
    
    <h5 class="card-title" style="margin-bottom: 0px;">Control insumos</h5>
  </div>
  </div>
  <div class="row"style="margin-left: 10px; margin-right:10px">
    <div class="col-sm-6" >
      <label for="opcion">Buscar por categor&iacute;a:</label>
      <select [(ngModel)]="cambio" (ngModelChange)="cambiarnombre($event)" class="form-control" >
        <option [ngValue]="papeleria">Papeler&iacute;a/Oficina</option>
          <option [ngValue]="cocina">Cocina</option>
          <option [ngValue]="higiene">Higiene/Aseo/Limpieza</option>
          <option [ngValue]="prevencion">Prevenci&oacute;n</option>
      </select>
    </div>
<div class="col-sm-6 " >
  
    <label for="opcion">Buscar por nombre:</label>
 
    <input class="form-control " type="text" [(ngModel)]="searchText.nombre" placeholder="Buscar por nombre">

  </div>

</div>
<div class="table-wrapper-scroll-y" >
<table class= "table table-striped table-bordered table-hover table-responsive-sm table-responsive-md table-responsive-lg" style="margin-top: 10px;" >
    <thead class="thead-dark">
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Descripci&oacute;n</th>
            <th scope="col">Precio</th>

            <th scope="col">Tipo</th>
            <th scope="col">Fecha de compra</th>
            <th scope="col">Registrado por:</th>
            <th scope="col">Modificar</th>  
            <th scope="col">Dar de baja</th>            
          </tr>
        </thead>
        <tbody>
          
          <!-- Listamos los datos mediante la directiva ngFor -->        
          <tr *ngFor="let dato of item | filterBy: searchText "   >
            <th *ngIf = "dato.autorizado === true  && dato.tipo=== cambio && dato.activo == true">{{dato.nombre}}</th>
            <td *ngIf = "dato.autorizado === true  && dato.tipo=== cambio && dato.activo == true">{{dato.descripcion}}</td>
            <td *ngIf = "dato.autorizado === true  && dato.tipo=== cambio && dato.activo == true">{{dato.precio}}</td>

            <td *ngIf = "dato.autorizado === true  && dato.tipo=== cambio && dato.activo == true">{{dato.tipo}}</td>
            <td *ngIf = "dato.autorizado === true  && dato.tipo=== cambio && dato.activo == true">{{dato.fechacompra}}</td> 
            <td *ngIf = "dato.autorizado === true  && dato.tipo=== cambio && dato.activo == true"  > {{dato.registrado}}</td>
          <td *ngIf = "dato.autorizado === true  && dato.tipo=== cambio && dato.activo == true"><a  [routerLink]="['/modificar-insumos', dato.id,'panel']"href="modificar-insumos" class="btn btn-primary ">Modificar</a></td>   
          <td *ngIf = "dato.autorizado === true  && dato.tipo=== cambio && dato.activo == true"><a  [routerLink]="['/panel-insumos']" (click)="bajar(dato.id)" class="btn btn-primary ">Dar de baja</a></td>                
      </tr>

    </tbody>
  </table>
  <div class="col-sm-12  " >
    <label for="opcion">  </label>
    <button (click)="exportAsXLSX()" class="btn boton_generar_excel  float-right"><i class="fa fa-file-excel-o fa-1x" ></i>Generar Excel</button>
  </div>
</div>

