.boton_registrados {
    display: inline;
    color: #fff;
    margin: 24px;
    background-color: #0a7d8f;
    font-weight: bold;
}
.boton_rechazados {
    display: inline;
    color: #fff;
    margin: 24px;
    background-color: #c59e1f;
    font-weight: bold;
}
.boton_generar_excel {
    display: inline;
    color: #fff;
    margin: 24px;
    background-color: #038f3d;
    font-weight: bold;
}
.boton_cerrar_sesion {
    display: inline;
    color: #fff;
    margin: 24px;
    background-color: #a10202;
    font-weight: bold;
}

.trans{

  background-color: #fff;
  display: flex;
  justify-content: center;
}
.table-wrapper-scroll-y {
    display: block;
    margin: 3px;
    max-height: 450px;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
.container {
    margin : 20px;
 }
 .titutlo{

    display: flex;
    justify-content: center;
  }